!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body

  script(src='/socket.io/socket.io.js')
  script
    var s = io.connect('http://localhost:3000');
    s.on('news', function(data){
      console.log(data);
      s.emit('otroEvent', {my:'dato'});
    });
